<h1>Форма регистрации</h1>
<form method="POST" action="/submit">
  <label>Имя:
    <input type="text" name="name" required>
  </label><br>

  <label>Город:
    <select name="city">
      <option value="Москва">Москва</option>
      <option value="СПб">Санкт-Петербург</option>
      <option value="Красноярск">Красноярск</option>
    </select>
  </label><br>

  <label>
    <input type="checkbox" name="subscribe" value="yes"> Подписаться на новости
  </label><br>

  <button type="submit">Отправить</button>
</form>
<a href="../">Главная</a>
